services:
  attacker:
    build: ./attacker
    container_name: attacker
    command: tail -f /dev/null
    cap_add:
      - NET_RAW
      - NET_ADMIN
    networks:
      testnet_static:
        ipv4_address: 172.30.0.10
    volumes:
      - ./attacker/data:/workspace

  victim:
    build: ./victim
    container_name: victim
    command: tail -f /dev/null
    cap_add:
      - NET_RAW
      - NET_ADMIN
    networks:
      testnet_static:
        ipv4_address: 172.30.0.20
    volumes:
      - ./victim/data:/workspace

  # --- ▼ ここから追加 ▼ ---
  victim2:
    build: ./victim
    container_name: victim2
    command: tail -f /dev/null
    cap_add:
      - NET_RAW
      - NET_ADMIN
    networks:
      testnet_static:
        ipv4_address: 172.30.0.21
    volumes:
      - ./victim/data:/workspace

  victim3:
    build: ./victim
    container_name: victim3
    command: tail -f /dev/null
    cap_add:
      - NET_RAW
      - NET_ADMIN
    networks:
      testnet_static:
        ipv4_address: 172.30.0.22
    volumes:
      - ./victim/data:/workspace

  victim4:
    build: ./victim
    container_name: victim4
    command: tail -f /dev/null
    cap_add:
      - NET_RAW
      - NET_ADMIN
    networks:
      testnet_static:
        ipv4_address: 172.30.0.23
    volumes:
      - ./victim/data:/workspace

  victim5:
    build: ./victim
    container_name: victim5
    command: tail -f /dev/null
    cap_add:
      - NET_RAW
      - NET_ADMIN
    networks:
      testnet_static:
        ipv4_address: 172.30.0.24
    volumes:
      - ./victim/data:/workspace

  victim6:
    build: ./victim
    container_name: victim6
    command: tail -f /dev/null
    cap_add:
      - NET_RAW
      - NET_ADMIN
    networks:
      testnet_static:
        ipv4_address: 172.30.0.25
    volumes:
      - ./victim/data:/workspace

  victim7:
    build: ./victim
    container_name: victim7
    command: tail -f /dev/null
    cap_add:
      - NET_RAW
      - NET_ADMIN
    networks:
      testnet_static:
        ipv4_address: 172.30.0.26
    volumes:
      - ./victim/data:/workspace

  zeek:
    build: ./zeek
    container_name: zeek
    network_mode: "host"
    command: tail -f /dev/null
    cap_add:
      - NET_RAW
      - NET_ADMIN
    volumes:
      - ./zeek/logs:/zeek-logs
      - ./zeek/scripts:/zeek-scripts
      - ./bin/zeek-color:/usr/local/bin/zeek-color

networks:
  testnet_static:
    driver: bridge
    internal: true        # 外部ネットワークに出ない閉じた環境
    ipam:
      config:
        - subnet: 172.30.0.0/24